<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="../../css/account.css">
</head>

<body>
    <div class="heading">
        <h3>PROFILE<span> SECTION</span></h3>
    </div>
    <div class="whole-box">
        <div class="profile-container">
            <img id="profilePicture" src="../../images/account/avatar-1.svg" alt="Profile Picture" class="profile-picture"
                width="100px">
            <h2>{{name}}</h2>
            <p><strong>Bio- </strong> <em>Admin</em></p>
            <button> <a href="#">Logout from all devices</a></button>

            <div class="avatar-options">
                <div class="avatar-option selected" onclick="selectAvatar(this)">
                    <img src="../../images/account/avatar-1.svg" alt="Avatar 1" width="80px">
                </div>
                <div class="avatar-option" onclick="selectAvatar(this)">
                    <img src="../../images/account/avatar-2.svg" alt="Avatar 2" width="80px">
                </div>
                <div class="avatar-option" onclick="selectAvatar(this)">
                    <img src="../../images/account/avatar-3.svg" alt="Avatar 3" width="80px">
                </div>
            </div>
            <div class="avatar-options">
                <div class="avatar-option selected" onclick="selectAvatar(this)">
                    <img src="../../images/account/avatar-4.svg" alt="Avatar 1" width="80px">
                </div>
                <div class="avatar-option" onclick="selectAvatar(this)">
                    <img src="../../images/account/avatar-5.svg" alt="Avatar 2" width="80px">
                </div>
                <div class="avatar-option" onclick="selectAvatar(this)">
                    <img src="../../images/account/avatar-6.svg" alt="Avatar 3" width="80px">
                </div>
            </div>
        </div>
        <div class="profile-details">
            <div class="details">
                <div class="row">
                    <p><strong>Name: </strong></p>
                </div>
                <div class="row">
                    <p>&nbsp;{{name}}</p>
                </div>
            </div>
            <hr>
            <div class="details">
                <div class="row">
                    <p><strong>Email: </strong></p>
                </div>
                <div class="row">
                    <p>&nbsp;{{email}}</p>
                </div>
            </div>
            <hr>
            <div class="details">
                <div class="row">
                    <p><strong>Address: </strong></p>
                </div>
                <div class="row">
                    <p>&nbsp;{{address}}</p>
                </div>
            </div>
            <hr>
            <div class="details">
                <div class="row">
                    <p><strong>City: </strong></p>
                </div>
                <div class="row">
                    <p>&nbsp;{{city}}</p>
                </div>
            </div>
            <hr>
            <div class="details">
                <div class="row">
                    <p><strong>State: </strong></p>
                </div>
                <div class="row">
                    <p>&nbsp;{{state}}</p>
                </div>
            </div>
            <hr>
            <div class="details">
                <div class="row">
                    <p><strong>Zip code:</strong></p>
                </div>
                <div class="row">
                    <p>&nbsp;{{zip}}</p>
                </div>
            </div>
            <hr>
            <div class="details">
                <div class="row">
                    <p><strong>Wallet money: </strong></p>
                </div>
                <div class="row">
                    <p>&nbsp;&#8377;&nbsp;{{walletMoney}}/-</p>
                </div>
            </div>
        </div>

        <div class="adminpanel">
            <h3>ADMIN <span>PANEL</span></h3>
            <div class="add-data">
                <form action="#" method="get">
                    <div class="dbox">
                        <label for="pname">
                            <strong>Product Name :</strong>
                        </label>
                        <input type="pname" name="pname" id="pname" placeholder="Jordan air." autocomplete="off" required>
                    </div>
                    <hr>
                    <div class="dbox">
                        <label for="description">
                            <strong>Description :</strong>
                        </label>
                        <input type="text" name="description" id="description"
                            placeholder="This is well quality product!" size="30" autocomplete="off" required>
                    </div>
                    <hr>
                    <div class="dbox">
                        <label for="Price">
                            <strong>Price (&#8377;) :</strong>
                        </label>
                        <input type="number" name="price" id="price" inputmode="numeric" placeholder="1299" autocomplete="off" required>
                    </div>
                    <hr>
                    <div class="dbox">
                        <label for="StrikePrice">
                            <strong>Strike Price (&#8377;) :</strong>
                        </label>
                        <input type="number" name="StrikePrice" id="Strikeprice" inputmode="numeric" placeholder="1549" autocomplete="off" required>
                    </div>
                    <hr>
                    <div class="dbox">
                        <label for="Catagories">
                            <strong>Catagories :</strong>
                        </label>
                        <input list="browsers" name="browser" id="browser" placeholder="Gender" size="10" autocomplete="off" required>
                        <datalist id="browsers">
                            <option value="Male">
                            <option value="Female">
                            <option value="Unisex"></option>
                        </datalist>
                    </div>
                    <hr>
                    <div class="dbox">
                        <label for="brand">
                            <strong>Brand name :</strong>
                        </label>
                        <input type="text" name="brand" id="brand" placeholder="Nike" required>
                    </div>
                    <hr>
                    <div class="dbox">
                        <label for="Quantity">
                            <strong>Quantity :</strong>
                        </label>
                        <input type="number" name="quality" id="Quantity" placeholder="80"           autocomplete="off" required>
                    </div>
                    <hr>
                    <div class="dbox">
                        <label for="url">
                            <strong>Image Url () :</strong>
                        </label>
                        <input type="url" name="qu" id="url" placeholder="https://image.jpg/" size="25" autocomplete="off" required>
                    </div>
                    <hr>
                    <div class="btn">
                        <input type="submit" value="Add Data">
                        <input type="reset" value="Reset">
                    </div>
                </form>
            </div>
        </div>
    </div>
    
        <script>
            function selectAvatar(avatarOption) {
                const avatarOptions = document.querySelectorAll('.avatar-option');
                avatarOptions.forEach(option => option.classList.remove('selected'));
                avatarOption.classList.add('selected');

                const selectedAvatar = avatarOption.querySelector('img').src;
                document.getElementById('profilePicture').src = selectedAvatar;
            }
        </script>
</body>

</html>